.page-wrap .btn {
  margin-top: 2rem;
  width: 15rem;
  height: 6rem;
  background: lightseagreen;
  border-radius: 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page-wrap .toastView {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 199;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.3);
}
.page-wrap .toastView .toastScrollBox {
  width: 40rem;
  height: 69rem;
  background: #fff;
  border-radius: 1rem;
  overflow-y: auto;
  position: relative;
}
.page-wrap .toastView .toastScrollBox .toastBox {
  position: relative;
}
.page-wrap .toastView .toastScrollBox .toastBox .list {
  border-bottom: 0.1rem solid lightseagreen;
}
.page-wrap .toastView .toastScrollBox .toastBox .list .til {
  width: 100%;
  font-weight: 500;
  margin: 1rem 0 0.5rem;
}
.page-wrap .toastView .toastScrollBox .toastBox .list .content {
  font-size: 1.3rem;
}
.page-wrap .toastView .close {
  position: absolute;
  bottom: 5vh;
  left: 50%;
  transform: translate(-50%);
  color: #fff;
}
