.noData-component {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.noData-component .noDataPic {
  width: 16.25rem;
  height: 15.69rem;
  margin-bottom: 0.88rem;
}
.noData-component .say {
  font-size: 1.75rem;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #898998;
}
